.search_wrap{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 530px;
}

.search{
    margin-right: 50px;
    width: 300px;
    border: 1px solid #000000;
    text-align: center;
    white-space: nowrap;
}

.select{
    width: 100px;
    margin-top: 5px;
}

.result{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    text-align: center;
}




/*清除浮动：after内部最后的位置*/
.clearfix:after{
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
