<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索页面</title>
    <link rel="stylesheet" th:href="@{'/css/search.css'}">
    <script th:src="@{'/script/third/jquery-3.2.0.min.js'}"></script>
    <script th:src="@{'/script/third/MD5.js'}"></script>
    <script th:src="@{'/script/third/sweetalert.min.js'}"></script>
    <script th:src="@{'/script/search.js'}"></script>
</head>
<body>
<div class="search_wrap clearfix">
    <div class="search fl">
        <input type="file" id="upload" accept="image/*" onchange="showImage(this)">
        <input type="button" value="搜索" th:onclick="search()">
    </div>
    <select class="select fl" id="group">
        <option th:each="group:${groupList}" th:value="${group['gid']}" th:text="${group['name']}" selected="selected"></option>
    </select>
</div>
<div class="clearfix">
    <div id="origin" class="origin fl">
        <h4>上传图片</h4>
        <img id="image_origin" width="100%">
    </div>
    <div id="result" class="result fl">
        <h4>搜索结果</h4>
        <img id="image_result" width="100%">
    </div>
</div>
</body>
</html>